body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #d7d7d7;
    padding: 20px 0;
} 

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}

.banner{
    width: 100%;
    padding-top: 5px;
    position: relative;
}

.contenedor_parrafo_principla{
    width: 940px;
    margin: 0 auto;
}

.parrafo_principal{
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
    background: #FEFEFE;
}

.parrafo_principal p{
    margin: 0 0 1em;
}

.parrafo_principal strong{
    font-weight: bold;
}

.titulo_principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    /*color: rgba(218, 0, 0, 30%);*/ /*dar opacidad a titulos, pero tambien a otros elementos*/
    /*text-shadow: 2px 2px 10px blue;*/ /*agregar sombra al texto*/
}

.titulo_principal:first-letter{
    font-weight: bold;
}

.parrafo_principal em{
    width: 940px;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
}

em strong{
    color: rgb(10, 74, 235);
}

.mision{
    font-size: 20 px;
}

.imagen_utensilios{
    width: 120px;
    height: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

.video{
    width: 640px;
    padding: 3em 0;
    margin:  0 auto;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #88888888);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa_contenedor{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    /*background: #d7d7d7;*/
    background: #88888888;
}

.contenido_diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista_diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

.items{
    line-height: 1.5;
    font-style: italic;
}

.items:before{
    content: "✪";
}

.items:first-child{
    font-weight: bold;
}

.imagen_diferenciales{
    width: 60%;
    /*opacity: 30%;*/
    box-shadow: 10px 10px 30px 10px #000000; /*nos permite dar sombreado*/
}

.imagen_diferenciales:hover{
    opacity: 30%;
    transition: 400ms;
}

footer{
    text-align: center;
    background: url(./imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

/*crea condiciones para aplicar formatos o estilos en diferentes dispositivos*/
@media screen and (max-width:480px){
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .caja, .parrafo_principal, .mapa_contenedor, .contenido_diferenciales, .video{
        width: auto;
    }

    .lista_diferenciales, .imagen_diferenciales{
        width: 100%;
    }
}